@charset "UTF-8";

html, body {
	height: 100%;
	font-size: 16px;
	background-color: #f0f8ff;
	margin: 0px;
    overflow: auto;
}

#login-root-div {
	background: #f6f6f6;
	margin: 50px auto auto auto;
	width: 350px;
	border: 2px solid #FFFFFF;
	border-radius: 15px;
}

#img-login-icon {
	display: block;
	margin: 20px auto auto auto;
	height: 100px;
	height: 100px;
	width: 100px;
}

#login-root-div #tip-text-root-div p {
	margin-top: 5px;
	margin-bottom: 2px;
	text-align: center;
}

.text-large{
	font-size: 22px;
	font-weight: 600;
}

#input-root-div {
	text-align: center;
	margin-top: 30px;
}

#input-root-div input {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 300px;
	height:35px;
	font-size: 16px;
	padding-left: 5px;
}

#login-btn {
	margin-top: 30px;
	margin-bottom:20px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	display: block;
	background-color: #efe8ff;
	color: #9c6efc;
	border-color: #efe8ff;
	border-width: 0.50x;
	border-style: solid;
	height:45px;
	
}

#login-btn:hover {
	border: 1px solid #9c6efc;
	outline: none;
	box-shadow: none;
}

#login-result-div{
	width: auto;
	margin: 20px 20px 20px 20px;
	background-color: #f9d7db;
	display: none;
	text-align: center;
}

#login-result-div span{
	width: max-content;
	font-size: 16px;
	color: #6c2c33;
	margin: 10px;
	background-color: #f9d7db;
	display: inline-block;
}