@charset "utf-8";

html,body{
    height: 100%;
    font-size: 16px;
    margin: 0px;
    min-width: 1200px;
    overflow: auto; /*body和html上一个效果*/
}

#container{
    /* height: 100%; */
    min-height: 100%;
    width: auto;
    background-color: #eef5f9;
    padding: 20px;
    /* position: relative; */
}

#title{
    font-weight: bolder;
    margin: 0px;
}

#table-wrapper{
    width: auto;
    min-height: 400px;  
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    /* position: absolute;
    left: 20px;
    right:20px; */
}

/**
 filter
*/
#filter-div{
    width: 95%;
    margin:0px auto 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #666;
}

#filter-div input{
    font-size: 20px;
    color: #333;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
}

/**
 table
*/
table{
    width: 95%;
    table-layout: fixed;
    text-align: center;
    padding: 2px;
    margin: auto;
}

table thead{
    font-size: 22px;
    color: #666;
    font-weight: 900;
}

table td{
    border-color:#f2f2f2;
}

table thead td:first-of-type{
    border-width: 2px;
    border-style: solid;
}

table thead td{
    /* border-width: 2px;
    border-style: solid; */

    border-top-width: 2px;
    border-top-style: solid;

    border-bottom-width: 2px;
    border-bottom-style: solid;

    border-right-width: 2px;
    border-right-style: solid;
}

table tbody{
    font-size: 20px;
    color: #666;
    font-weight: 300;
}

table tbody tr td:first-of-type{
    border-left-width: 2px;
    border-left-style: solid;
}

table tbody tr td{
    border-right-width: 2px;
    border-right-style: solid;
}

table tbody tr:last-of-type td{
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

table tbody tr:nth-child(2n-1){
   background-color:#f2f2f2;
}